<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/font/bootstrap-icons.css}">
        <script th:src="@{/js/jquery-3.6.3.js}"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <title>StudentManagement登录页面</title>
    </head>
    <body>
        <div class="container-fluid p-1 text-white" style="background-color: #012060">
            <h4 class="page-header">ユーザー一覧画面</h4>
        </div>
        <div style="margin-top: 80px"></div>
        <div class="container">
            <form action="searchByCondition" method="get">
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td class="text-center overflow-hidden"
                            style="vertical-align: middle;background-color: #DAEEF3;width: 15%;border: 1px solid #000;">
                            <div>国籍</div>
                        </td>
                        <td style="border: 1px solid #000;width: 28%">
                            <select class="form-select" style="border: none;" name="country">
                                <option value="" selected>-</option>
                                <option value="0">中国</option>
                                <option value="1">日本</option>
                                <option value="2">其他</option>
                            </select>
                        </td>
                        <td style="width: 10%;"></td>
                        <td class="text-center overflow-hidden"
                            style="vertical-align: middle;background-color: #DAEEF3;height: 53px;width: 15%;border: 1px solid #000;">
                            性別
                        </td>
                        <td style="border: 1px solid #000;">
                            <label class="form-check-label" for="gender0" style="margin-left: 20px;margin-top: 5px">男</label>
                            <input type="radio" class="form-check-input" id="gender0" name="gender" value="0"
                                   style="margin-top: 10px">
                            <label class="form-check-label" for="gender1" style="margin-left: 20px">女</label>
                            <input type="radio" class="form-check-input" id="gender1" name="gender" value="1"
                                   style="margin-top: 10px">
                            <label class="form-check-label" for="gender2" style="margin-left: 20px">全部</label>
                            <input type="radio" class="form-check-input" id="gender2" name="gender" value="" checked
                                   style="margin-top: 10px">
                        </td>
                    </tr>
                    <tr style="height: 40px"></tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right">
                            <button type="submit" class="btn btn-lg text-white"
                                    style="background-color: #012060;width: 150px;">
                                検索
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <br>

            <table class="table table-hover table-bordered text-center">
                <thead>
                <tr style="background-color: #DAEEF3;">
                    <th>選択</th>
                    <th>No.</th>
                    <th>ユーザー名</th>
                    <th>パスワード</th>
                    <th>性別</th>
                    <th>住所</th>
                    <th>国籍</th>
                    <th>備考</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,userIndex: ${userInfoList}">
                    <td><input type="checkbox" name="checkedTd"></td>
                    <td th:text="${userIndex.index+1}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.gender}==0?'男':'女'"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.country}==0?'中国':(${user.country} == 1 ?'日本':'其他')"></td>
                    <td th:text="${user.comment}"></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" onclick="window.location.href = 'userInitEdit?username=' + this.parentNode.parentNode.children[2].innerHTML">変更</button>
                        <button type="button" class="btn btn-outline-danger"  onclick="window.location.href = 'userDelete?username=' + this.parentNode.parentNode.children[2].innerHTML">削除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm text-white" style="text-align: right">
                    <button type="button" class="btn btn-lg text-white" style="margin-right: 5px;background-color: #012060;width: 150px;" onclick="window.location.href='register'">
                        新規登録
                    </button>
                    <button type="button" class="btn btn-lg text-white" style="margin-right: 5px;background-color: #012060;width: 150px;" onclick="deleteChecked()">
                        一括削除
                    </button>
                </div>
            </div>
        </div>
    </body>

    <script>
        function deleteChecked(){
            let inputObjs = document.getElementsByName('checkedTd');
            const nameArr = [];
            inputObjs.forEach(function (item){
                if(item.checked){
                    nameArr.push(item.parentNode.parentNode.children[2].innerHTML);
                }
            })

            $.ajax({
                url: 'deleteChecked',
                data: {nameArr:nameArr.toString()},
                type: 'post',
                async: false,
                success: function (res) {
                    console.log(res);
                    location.replace('userSearch');
                }
            });
        }

    </script>
</html>